dist/*
*.egg-info
*/__pycache__/*
inputs/*
outputs/*
tests/inputs/*
tests/outputs/*
tests/data/*
tests/config.py

!tests/inputs/test_species_list.txt
!tests/inputs/test_terrain.tif

.venv
venv

private